.container {
  display: flex;
}

.logo {
  width: 150px;
  position: absolute;
}

.headerCounter {
  position: absolute;
  left: 900px;
  top: 100px;
  width: 50px;
}

.milkCounter {
  position: absolute;
  left: 950px;
  top: 90px;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
